<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <ul>
        <% myFiles.forEach((file)=> { %>
            <li>
                <h2>
                    <%= file %>
                </h2>
            </li>
            <hr />
        <% }) %>
    </ul>
</body>
<%- include('../partials/footer') %>