<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="test">
    <div class="get">
        <div class="container">
            <h2>welcome to your favorite file manager</h2>
        </div>
        <form action="/files" method="get">
            <input type="submit" value="See files/directory">
        </form>
    </div>
    
    <div class="add">
        <form action="/files" method="post">
            <input type="text" name="fileName" placeholder="file/directory name">
            <input type="submit" value="Add file or directory">
        </form>
    </div>
    
    <div class="delete">
        <form action="/delete" method="post">
            <input type="text" name="fileName" placeholder="file/directory name">
            <input type="submit" value="Delete file/directory">
        </form>
    </div>

    <div class="shell">
        <form action="/shell" method="post">
            <input type="text" name="shell" placeholder="exemple: cd ..">
            <input type="submit" value="run shell command">
        </form>
    </div>

    <div class="remove">
        <form action="/remove" method="post">
            <input type="text" name="fileName_1" placeholder="exemple:test.txt">
            <input type="text" name="fileName_2" placeholder="exemple:./views/pages/test.txt">
            <input type="submit" value="Remove file/directory">
        </form>
    </div>
</div>


<%- include('../partials/footer') %>